<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org/">
<head>
    <title>Title</title>
</head>
<body>
<center>
    <h1>
    <span th:text="${info}" th:style="'color: ' + ${infoColor}"></span>
    </h1>
</center>

<br/>

<form th:action="@{/vehicle}" method="post" th:object="${vehicleForm}">
    <p th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}"></p>
    Marka: <input type="text" th:field="*{mark}"/><p></p>
    <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></p>
    Model: <input type="text" th:field="*{model}"/><p></p>
    <p th:if="${#fields.hasErrors('productionYear')}" th:errors="*{productionYear}"></p>
    Rok produkcji: <input type="text"  th:field="*{productionYear}"/><p></p>
    <input type="submit" value="Wyslij"/>
</form>
</body>
</html>